@using JobScraper.View.Components
@using JobScraper.ViewModel;

<div class="container-fluid h-100 vh-100">
    <div class="row vh-100">
        <div class="col-md-4 p-0">
            <div class="vh-100 d-flex flex-column">
                <div class="flex-column flex-grow-1 text-center">
                    <Filter ViewModel="ViewModel"/>
                </div>
                <div class="flex-column">
                    <div class="text-black text-center mt-3" style="height:50px">
                        <div class="spinner-border align-middle" role="status">
                        </div>
                        <span class="align-middle" style="margin-left: 20px;">Scraping 1 of 200</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 text-center vh-100 scrollable-y">
            <ul class="list-group" style="padding-right: 10px; margin-top: 10px; overflow-y: hidden; -webkit-overflow-scrolling: touch;">
                <a href="#" class="list-group-item list-group-item-light border-1 rounded-3 mb-2 ad-container">
                    <div class="ad-content">
                        Cloud Engineer der brænder for at gøre en forskel – og vil være med i vores cloud-team
                    </div>
                    <div class="ad-content">
                        <span class="badge bg-dark">C#</span>
                        <span class="badge bg-dark">ASP.NET</span>
                        <span class="badge bg-dark">Blazor</span>
                    </div>
                </a>
            </ul>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public MainViewModel ViewModel { get; set; }

    //[Parameter]
    //public FilterParams FilterParams { get; set; }

    protected override async Task OnInitializedAsync()
    {
    }
}
