@using JobScraper.View.Components
@using JobScraper.ViewModel;

<div class="container-fluid h-100 vh-100">
    <div class="row vh-100">
        <div class="col-md-4 p-0">
            <div class="vh-100 d-flex flex-column">
                <div class="flex-column flex-grow-1 text-center">
                    <Filter/>
                </div>
                <div class="flex-column">
                    <div class="text-black text-center mt-3" style="height:50px">
                        <Status/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 text-center vh-100 overflow-y-scroll">
            <AdList/>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback DoneLoadingCallback { get; set; }

    private bool _isFirstRender = true;

    protected override async Task OnInitializedAsync()
    {
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if(_isFirstRender == true)
        {
            DoneLoadingCallback.InvokeAsync();
            _isFirstRender = false;
        }
    }
}
