@using JobScraper.ViewModel.EventArgs;
@using JobScraper.ViewModel;

<div style="display:@visibility;">
    <div class="spinner-border align-middle" role="status"></div>
    <span class="align-middle" style="margin-left: 20px;">@text</span>
</div>

@code {
    [Parameter]
    public MainViewModel viewModel { get; set; }

    public string text { get; set; }

    public string visibility { get; set; }

    protected override async Task OnInitializedAsync()
    {
        viewModel.OnStatusChange += OnStatusChange;
        visibility = "none";
    }

    private void OnStatusChange(object? sender, StatusArgs args)
    {
        text = args.text;

        if(args.visible == true)
        {
            visibility = "block";
        } 
        else
        {
            visibility = "none";    
        }

        InvokeAsync(StateHasChanged);
    }
}
